<div class="nested-fields">
	<div class="panel panel-default" >
		<div class="panel-heading">
			<div style="float:left; padding-top: .5em; margin-right: 1em;">
				<label>Category Name:</label>
			</div>
			<div style="float:left">
				<table style="border:none">
					<th><%= f.text_field :name, class: "form-control"%></th>
				<th>
					<%= link_to_remove_association '', f, class: "remove-item glyphicon glyphicon-remove", data: { confirm: destroy_alert } %>
					<%= f.hidden_field :_destroy %>
				</th>
				</table>
			</div>
			<div style="clear:both"></div>		
		</div>
		<div class="panel-body">
			<h4>Tasks</h4>
				<div id="tasks">
					<%= f.fields_for :tasks do |builder| %>
						<%= render "task_fields", f: builder %>
					<% end %>
					<%= link_to_add_association "Add Task", f, :tasks, style: "margin: .5em" %>
				</div>
		</div>
	</div>
</div>
