<%= form_for(@order_type) do |f| %>
  <% if @order_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_type.errors.count, "error") %> prohibited this order_type from being saved:</h2>

      <ul>
      <% @order_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= fields_for :categories do |cat| %>
    <fieldset>
      <%= cat.label 'Category Name' %>
      <%= cat.text_field :name %>
    </fieldset>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
