<%= form_for @order_type do |f| %>
  <% if @order_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_type.errors.count, "error") %> prohibited this order_type from being saved:</h2>

      <ul>
      <% @order_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <strong> <%= f.label :title %></strong>:  <%= f.text_field :title %>

	<%= f.fields_for :categories, @order_type.categories.uniq do |c| %>

		<div class="field">
				<h3 style="padding-left: 1em">	<strong><%= c.label :name, "Category Name:"  %></strong>
					<%= c.text_field :name %>
					<%= c.hidden_field :_destroy %>
					<%= link_to "remove", '#', class: "remove_category" %>
				</h3>	
				<fieldset style = "width: 50%">
					<strong> Task Descriptions: </strong><br>
					<%= c.fields_for :tasks do |t| %>
						<p>
							<%= t.text_field :description %>
							<%= t.hidden_field :_destroy %>
							<%= link_to "remove", '#', class: "remove_task" %>

						</p>
					<% end %>
				</fieldset>
			</div>
	<% end %>	

  <div class="actions">
    <%= f.submit 'Update'  %>
  </div>
<% end %>
