<div class="panel panel-default"style="border-radius: 0; margin: 0px;margin: 0px">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <%= current_user.first_name + " " + current_user.last_name %>
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body"style="padding: 0;">
      <div class="list-group">
        <% if current_user.organization.nil? %>
        <%= link_to '<span class="glyphicon glyphicon-briefcase"></span>Create Organization'.html_safe, new_organization_path, class: "list-group-item" %>
        <% else %>
  			<%= link_to '<span class="glyphicon glyphicon-briefcase"></span>Organization'.html_safe, organization_path(current_user.organization.id), class: "list-group-item" %>
        <% end %>
  
        <a href="/users/<%= current_user.id%>" class="list-group-item">
          <span class="glyphicon glyphicon-user"></span>
          Profile
        </a>
        <a class="list-group-item" href="<%= edit_user_path(current_user.id) %>">
          <span class="glyphicon glyphicon-cog"></span>
          Settings
        </a>
        <%= link_to '<span class="glyphicon glyphicon-log-out"></span>Log Out'.html_safe, destroy_user_session_path, class: "list-group-item", method: :delete %>
      </div>
    </div>
  </div>
</div>