<div id = "table_agg">
	<% @errors.each_pair do |category, tasks| %>
		<div class="table-wrapper" style="display:none">
			<table id="<%= category.downcase.gsub(/ /,"_") %>-container">
				<th colspan="2"><%=category%></th>
				<% @errors[category].each_pair do |task, value| %>
					<tr>
						<td><%=task%></td>
						<td><%=value%></td>
					</tr>
				<% end %>
			</table>		
		</div>

		<div class="hidden bar_charts <%=category.downcase.gsub(/ /,"_") %>-container">
		</div>
	<% end %>
</div>