<div class="month">
<%= calendar(@date) do |date| %>
  <% if date.month == @date.month %>
	  <div class="day"><%= link_to date.day, "#{date.month}/#{date.day}" %></div>
	  	<div class="inner">
			<% if @orders_by_day[date.day].nil? %>
				No<br>Orders
			<% else %>
				<%= breakdown(date.day)[false] || 0 %>/<%= @orders_by_day[date.day].size %>
				<br>
				<strong><%= quality_by(date.day) %>%</strong>
			</div>
			<% end %>
	<% end %>
<% end %>
</div>

<script>
	autoResize();
	$(window).resize(function() {
		autoResize();
	});
</script>
