<div class="panel panel-default">
  <div class="panel-heading"><%= link_to "##{order.order_name}", order_type_order_path(@order_type.id, order.id) %></div>
  <div class="panel-body">
    <div style="padding-bottom:.5em">Proofed: <%= order.user.full_name %></div>
  <% if order.error == false %>
    <span style="font-weight:700; color: #3c763d">
      <span class="glyphicon glyphicon-ok-circle"></span> No Errors
  </div>
  <% else %>
    <table style="border: none">
      <th style="color:#a94442"><span class="glyphicon glyphicon-remove-circle"></span>
        <%= pluralize(order.show_errors.values.flatten.count, "Error") %>
      </th>
      <th>Notes</th>
      <tr>
        <td style="width: 50%">
          <ol>
            <% order.show_errors.each_pair do |key, value| %>
              <% value.each do |task| %>
                <li><strong><%= key %>: </strong><%= task %></li>
              <% end %>
            <% end %>
          </ol>
        </td>
        <td style="width: 50%">
          <div style="border: 1px solid #8a6d3b; margin-top: 1em; padding: .5em; background-color:#fcf8e3; color: #8a6d3b"> 
            <% if order.note.empty? %>
              <p>N/A</p>
            <% else %>
              <%= simple_format order.note %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
  <div class="panel-footer" style="padding: 5px 15px; text-align: right">
    <h6 style="margin:0">
      <%#= link_to 'Edit', "/order_types/#{@order_type.id}/orders/#{order.id}/edit" %> 
      <%= link_to 'Edit', edit_order_type_order_path(@order_type.id, order.id) %>
      | 
      <%= link_to 'Delete', order_type_order_path(@order_type.id, order.id), method: :delete, data: { confirm: 'Are you sure?' } %></h6>
  </div>
</div>
  
