<%if signed_in? %>
<h2>Create New User</h2>
<% else %>
<h2>Sign Up</h2>
<% end %>
<%= form_for @user do |f| %>
	<%= render 'layouts/error_messages', object: f.object %>

  <div><%= f.label :first_name %><br />
  	<%= f.text_field :first_name, autofocus: true, class:"form-control login" %></div>
  <div><%= f.label :last_name %><br />
  	<%= f.text_field :last_name, class:"form-control login" %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, class:"form-control login" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control login" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control login" %></div>

  <div><%= f.submit class:"btn btn-primary" %></div>
<% end %>