<p>
	<%= @user.first_name %> <%= @user.last_name %>
</p>
<p>
<%= @user.email %>
</p>
<p>
	Organizations:
</p>

	<h3 style ="text-align:center"><%= "Total Orders Completed By #{@user.first_name} #{@user.last_name}" %></h3>
	<br>
	<%= render 'orders/table' %>