<% if @user.active %>
	<div class="panel panel-primary">
<% else %>
	<div class="panel panel-default">
		<% end %>
	<div class="panel-heading" style="border-radius:0">
		<h4><%= @user.first_name %> <%= @user.last_name %></h4></div>
	<div class="panel-body">
		<p>
			Email: <%= @user.email %>
		</p>
		<p>
			Organization: <%= @user.organization.title %>
		</p>
		<p>
			Status: <%= @user.active ? "Active" : "Inactive" %>
		</p>
	</div>
</div>
	
	<h4 style ="text-align:center"><%= "Total Orders Completed By #{@user.first_name} #{@user.last_name}" %></h4>
	<br>
	<%= render 'orders/table' %>