<%= calendar(@date) do |date| %>
  <% if date.month == @date.month %>
	  <div class="day"><%= link_to date.day, "#{date.month}/#{date.day}" %></div>
	  <p>
	  <% unless order_by_date(date) < 1 %>
	  	<%=  clear_by_date(date) %> / 
	  	<%= order_by_date(date) %>
	  	<br> 
	  	<strong><%= (clear_by_date(date) / order_by_date(date).to_f*100).round(2) %>%</strong>
	  <% else %>
	  	No Orders
		<% end %>
	 	</p>
	<% end %>
<% end %>