<div class="panel panel-default">
  <div class="panel-heading">#<%= order.order %></div>
  <% if order.error == false %>
  <div class="panel-body">
    <span style="font-weight:700; color: #3c763d">No Errors</span>
  </div>
  <% else %>
  <div class="panel-body">
    <table style="border: none">
      <th style="color:#a94442"><%= pluralize(order.show_errors.values.flatten.count, "Error") %>
      </th>
      <th>Notes</th>
      <tr>
        <td style="width: 50%">
          <ol>
            <% order.show_errors.each_pair do |key, value| %>
              <% value.each do |task| %>
                <li><strong><%= key %>: </strong><%= task %></li>
              <% end %>
            <% end %>
          </ol>
        </td>
        <td style="width: 50%">
          <p style="border: 1px solid #8a6d3b; border-radius: 3px; margin-top: 1em; padding: .5em; background-color:#fcf8e3; color: #8a6d3b"><%= order.note %></p>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
  <div class="panel-footer" style="padding: 5px 15px; text-align: right">
    <h6 style="margin:0"><%= link_to 'Edit', '#' %> | <%= link_to 'Delete', '#' %></h6>
  </div>
</div>
  
