<!--<p id="notice"><%#= notice %></p>-->

<p>
  <h4>Order #<%= order.order %> </h4>
</p>


<% unless order.show_errors.empty? %>
  <%= pluralize(order.show_errors.values.flatten.count, "Error") %>
  <ol>
    <% order.show_errors.each_pair do |key, value| %>
      <% value.each do |task| %>
       <li><strong><%= key %>: </strong><%= task %></li>
      <% end %>
    <% end %>
  </ol>
<% else %>
  <h4> No Errors </h4>
<% end %>
<p>
  <strong>Note:</strong>
  <%= order.note %>
</p>
