<h1>Editing order</h1>

<%= form_for(@order) do |f| %>
	<%= render 'error' %>

	  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
