<h1>Listing orders</h1>

  <ol>
    <% @order_type.orders.each do |order| %>
      <li> <strong><%= order.order %></strong> :
        <p><%= order.created_at.strftime("%d - %A") %></p>

        <%= link_to 'Show', 
            "/order_types/#{order.order_type.id}/orders/#{order.id}" %> |
        <%= link_to 'Destroy', "/order_types/#{order.order_type.id}/orders/#{order.id}" , method: :delete, data: { confirm: 'Are you sure?' } %> 
      </p>
    </li>
    <% end %>
  </ol>

      

     
      
      


<%= link_to 'New Order', new_order_type_order_path %>
