<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Note</th>
      <th>Order type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_type.orders.each do |order| %>
      <tr>
        <td><%= order.order %></td>
        <td><%= order.note %></td>
        <td><%= order.order_type.title %></td>
        <td><%= link_to 'Show', 
            "/order_types/#{order.order_type.id}/orders/#{order.id}" %></td>
        <td><%= link_to 'Destroy', "/order_types/#{order.order_type.id}/orders/#{order.id}" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_type_order_path %>
