<div id="orders">
  <%= calendar do |date| %>
  	<div class="day"><%= date.day %></div>
    		<p><strong>Correct: </strong><%= orders_by_day(date).count - count_errors(date)%>/<%= orders_by_day(date).count %></p>
    		<p><strong>Quality: </strong> %<%=100-(count_errors(date)/orders_by_day(date).count.to_f*100).round(2) %></td>

  <% end %>
</div>


      

     
      
      

