<div id="orders">
	<h2 id="month"><%= @order_type.title %> for <%= @date.strftime("%B %Y") %> </h2>
  <%= calendar(@date) do |date| %>
  	<% if date.month == @date.month %>
	  	<div class="day"><%= link_to date.day, "#{date.month}/#{date.day}" %></div>
	  <p>
	  <% unless @order_type.by_day(date)["Total"] < 1 %>
	  	<%=  @order_type.by_day(date)["Correct"] %> / 
	  	<%= @order_type.by_day(date)["Total"] %>
	  	<br> 
	  	<strong><%= @order_type.by_day(date)["Pct"] %>%</strong>
	  <% else %>
	  	No Orders
	  <% end %>
	  </p>
	  <% end %>
  <% end %>
</div>

<div>
	<h1> Quality: <%= @order_type.no_errors.count %> / <%= @order_type.orders.count %> 
  | <%= @order_type.quality %>%</h1>
</div>

<div id='chart'>
<%= render_chart @chart, 'chart' %>
</div>