<div id="orders">
	<h2 id="month"><%= @order_type.title %> for <%= @date.strftime("%B %Y") %> </h2>
  <%= calendar(@date) do |date| %>
  	<div class="day"><%= link_to date.day, "#{date.month}/#{date.day}" %></div>
  	<p><%= orders_by_day(date).count-errors_by_day(date)%>/<%= orders_by_day(date).count %><br>
  	</p> 
  <% end %>
</div>
<div>
	<h1> Quality: <%= @order_type.orders.count - 
  @order_type.count_total_errors%>/<%= @order_type.orders.count %>
  | <%= quality(@order_type.orders) %>%</h1>
  <h2> Breakdown </h2>
</div>

<p><%= chart_errors %></p>
<p><%= chart_errors.values.sum %> total errors</p>
<ol>
  <% @order_type.breakdown.each_pair do |key, value| %>
    <li><%= key %> (<%= value.values.sum %> total errors)
      <ol>
        <% value.each_pair do |kk, vv| %>
          <li><%= kk %> (<%= vv %> errors)</li>
        <% end %>
      </ol>
    </li>
    <br>
  <% end %>

</ol>