<%= include_gon %>
<%= render 'chart' %>
<div id="orders">
	<h2 style="padding-top:0;"id="month">
		<%= @order_type.title %> for <%= @date.strftime("%B %Y") %> 
	</h2>
  	<%= render 'calendar' %>

</div>
<div style="margin: 0; margin-top: 1em" class="panel panel-default" >
  <div class="panel-heading"> <%= render 'breakdown' %>
  </div>
		<div class="panel-body">
		<% if @orders.count > 0 %> 
			<div id="chart" style="width:auto; height: 300px;"></div>

			<div class="breakdown well list-group" >
				<% @errors.each_pair do |category, tasks| %>
					<div id="<%= category.downcase.gsub(/ /,"_") %>-container">
						<a href="#" class="list-group-item active">
							<%= category %>
						</a>
							<% @errors[category].each_pair do |task, value| %>
								<li class="list-group-item">
									<span class="badge"><%= value %></span>
									<%= task %>
								</li>
							<% end %>
					
					</div>
				<% end %>
			</div>
		<% end %>
		</div>
		
</div>