<div id="orders">
	<h2 id="month"><%= @order_type.title %> for <%= @date.strftime("%B %Y") %> </h2>
  <%= calendar(@date) do |date| %>
  	<% if date.month == @date.month %>
	  	<div class="day"><%= link_to date.day, "#{date.month}/#{date.day}" %></div>
	  	<p><%= orders_by_day(date).count-errors_by_day(date)%>/<%= orders_by_day(date).count %>
	  	<br> 
	  	<strong><%= ((orders_by_day(date).count-errors_by_day(date))/orders_by_day(date).count.to_f*100).round(2) %>%
	  	</strong>
	  </p>
	  <% end %>	
  <% end %>
</div>

<div>
	<h1> Quality: <%= @order_type.no_errors.count %> / <%= @order_type.orders.count %> 
  | <%= @order_type.quality %>%</h1>
</div>

<div id='chart'>
<%= render_chart @chart, 'chart' %>
</div>