<h1>New order for <%= find_order_type.title %></h1>
<%= form_for [@order_type, @order] do |f| %>

	<%= render 'error' %>
  
  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>

  <div class="field">
    <%= f.label 'proofed by: User (model not defined)' %>
  </div>
    <table>
      <tr class = "order-header">
      <th>Description</th>
      <th>Status</th>
    </tr>
    <% @order_type.categories.uniq.each do |cat| %>
      <tr>
        <td colspan=2 style="background-color:#BAB9B9; padding-left: 1em"><strong><%= cat.name %></strong></td>
      </tr>
        <% cat.tasks.each do |task| %>

    <%# @order_type.tasks.each do |task| %>
      <tr class="<%= cycle('line-odd', 'line-even') %>">
        <td style="text-align: left; padding-left: 2em"><%= f.label task.description %></td>
      <%= f.fields_for :validations do |entry| %>
        <td style="text-align: center"><%= entry.check_box :approval %></td> 
          <%= entry.hidden_field(:task_id, :value => task.id) %>

        <% end %>
      </tr>
    <% end %>
    <% end %>
    </table>
<div class="note-field">
    <h4><%= f.label :note, "Notes:" %><br><h4>
    <%= f.text_area :note, rows: 10, cols: 40 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>