<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.order %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type.title %>
</p>

<% @order.order_type.tasks.each do |task| %>
	<p>
		<strong> <%=task.description %></strong>
	</p>
	<% end %>

<!-- EDIT PATH NEEDS WORK -->
<%#= link_to 'Edit', edit_order_path(@order) %> 
<%= link_to 'Back', order_type_orders_path%>
