<div class="panel panel-primary">
	<div class="panel-heading" style="border-radius:0">
		<h4>Administrative Controls</h4>
	</div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#admin-all" data-toggle="tab">All</a></li>
      <% directory_partials('organizations/admin').each do |x| %>
        <li><a href="#admin-<%=x%>" data-toggle="tab"><%=x.capitalize%></a></li>
      <% end %>
    </ul>

<!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="admin-all">
      	<p style="padding-top:1em">Modify elements of your organization. Change or remove templates or users, and rename your organization.</p>
        <% directory_partials('organizations/admin').each do |x| %>
          <%= render "organizations/admin/#{x}" %><br>
        <% end %>	
      </div>

      <% directory_partials('organizations/admin').each do |x| %>
        <div class="tab-pane" id="admin-<%=x%>">
      	 <%= render "organizations/admin/#{x}" %>
        </div>
      <% end %>

    </div>
  </div>
</div>