<div class="panel panel-primary">
	<div class="panel-heading" style="border-radius:0">
		<h4>Administrative Controls</h4>
	</div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#admin-all" data-toggle="tab">All</a></li>
      <% ['org','templates','users'].each do |partial| %>
        <li>
          <a href="#admin-<%=partial%>" data-toggle="tab">
            <%=partial.capitalize%>
          </a>
        </li>
      <% end %>
    </ul>

<!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="admin-all">
      	<p style="padding-top:1em">
          Modify elements of your organization. Change or remove templates or users, and rename your organization.
        </p>
        
        <% ['org','templates','users'].each do |partial| %>
          <%= render "organizations/admin/#{partial}" %>
        <% end %>

        <% ['org','templates','users'].each do |partial| %>
          <%= render "organizations/admin/#{partial}" %><br>
        <% end %>	
      </div>

      <% ['org','templates','users'].each do |partial| %>
        <div class="tab-pane" id="admin-<%=partial%>">
      	 <%= render "organizations/admin/#{partial}" %>
        </div>
      <% end %>

    </div>
  </div>
</div>