<div id="nav_menu">
  <%= link_to '<span style="padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-home"></span>'.html_safe, root_path %>
  <%= link_to '<span style="padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-question-sign"></span>'.html_safe, help_path %>
  <%= link_to '<span style="padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-comment"></span>'.html_safe, contact_path %>
  <% if user_signed_in? %>
  <%= link_to '<span style="padding-left:.5em; padding-right:.5em;"class="glyphicon glyphicon-dashboard"></span>'.html_safe, organization_admin_panel_path(@organization) %>
  <% end %>
</div>

<% if user_signed_in? %>

  <div class="panel panel-group" style="margin-top: 0em; margin:0px;" 
    id="accordion nav_bar">
    <%= render 'layouts/nav/user' %>  
    <%= render 'layouts/nav/template' %>
    <%= render 'layouts/nav/search' %>
  </div>
    <%= render 'layouts/nav/new_order' %>

<% else %>
  <%= render 'layouts/nav/signed_out' %>

<% end %>
