<div style="top:20px;" class="panel panel-group" id="accordion nav_bar">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          User Name
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="list-group">
    			<a href="#" class="list-group-item">Organization</a>
          <a href="#" class="list-group-item">Profile</a>
          <a href="#" class="list-group-item">Settings</a>
          <a href="#" class="list-group-item">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <% if @order_type.nil? || @order_type.id.nil?%>
						Select Template
					<% else %>
						<%= @order_type.title %>
					<% end %>	
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
	      <div class="list-group">	
				<% OrderType.all.each do |type| %>
				<% unless type == @order_type %>
					<%= link_to type.title, type, class: "list-group-item" %>
				<% end %>
				<% end %>
        <%= link_to 'Create new Template', new_order_type_path, class: "list-group-item" %>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Search
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="list-group">
          <% unless @order_type.nil? || @order_type.id.nil? %>
            <h3 class="panel-title" style="padding-bottom: .5em">Orders by Month</h3>
            <% (Date.today.month).downto(1) do |month| %>
              <%= link_to "#{Date::MONTHNAMES[month]} #{Date.today.year}", 
                "/order_types/#{@order_type.id}/date/#{Date.today.year}/#{month}", 
                class: "list-group-item" %>
            <% end %>
              <%= link_to "Show Archive", "/order_types/#{@order_type.id}/archive",
                class: "list-group-item"%>
          <% end %>
					<br>
            <div style="postion:relative">
              <form class="" role="form">
							 <input style="width: 65%; float:left" type="order" class="form-control" placeholder="Enter Order ID">
                <button style="float:right"type="submit" class="btn btn-default btn-sm">Search</button>
						  </form>
            </div>
        </div>
      </div>
    </div>

  </div>

</div>
  <div class="new_order">
  <% unless @order_type.nil? || @order_type.id.nil? %>
  <%= link_to 'Enter new Order', "/order_types/#{@order_type.id}/orders/new",
    class: "btn btn-primary" %>
    <% else %>
      <button type="button" class="btn btn-primary" disabled="disabled">Enter new Order</button>
      <% end %>
  </div>
