<!DOCTYPE html>
<html>
<head>
	<script src='https://www.google.com/jsapi'></script>
  <title>Error Tracker
  	<% unless @order_type.nil? %>
  	| <%= @order_type.title %>
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header'  %>
	<div class="site-container">
		<div class="wrapper row-offcanvas">
			<div class="container">
				<div class="row">
					<!--NAV-->
					<div class="col-sm-5 col-md-4 col-lg-3 sidebar-offcanvas">
						<div id="side">
							<%= render 'layouts/navbar' %>
						</div>
					</div>
					<!--CONTENT-->
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9" id="content">
						<div>
						<%= yield %>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="footer">
			<footer>
				<%= render 'layouts/footer' %>
			</footer>
		</div>
	</div>

</body>
</html>
